# Dependencies
/node_modules

# Build outputs
/dist
/tmp
/out-tsc
/bazel-out

# Angular cache
/.angular/cache
.sass-cache/
.angular/

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Logs
npm-debug.log
yarn-error.log
*.log

# Test coverage
/coverage

# Misc
/connect.lock
/libpeerconnection.log
testem.log
/typings
